.about{
    width: 90%;
    margin: 0 auto;
}

.about__title{
    font-size: larger;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}

@media (max-width: 500px){
    .about__paragraph{
        text-align: justify;
        font-size: 15px;
        font-weight: 300;
       }
}